*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
nav{
    display: grid;
    grid-template-columns: repeat(5, 1fr);
}
.item{
    border: 1px solid rgb(198, 236, 236);
    height: 200%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: darkslategray;
    transition: height .3s;
}
.item:hover{
    background-color: orange;
    height: 300%;
}
body{
    background-color: cadetblue;
}
.item a{
    color: white;
    font-size: large;
    font-weight: bold;
    text-decoration: none;

}
.item:hover a{
    color: rgb(173, 7, 46);
}